body {
    font-family: 'PT Sans';
    padding: 0;
    margin: 0;
}

th {
  background: #d2d2e4;
  //background: #bda0fa;
}

.main-content {
  background: lavender;
  color: black;
  margin: auto;
  padding: 2em;
  width: 70vw;
}

.table-container {
  padding: 30px 0;
}

.fullStatistics {
  table {
    width: 100%;
  }

  th {
    text-align: center;
  }

  td {
    width: 200px;
  }
}

.browsersProcent {

}
